In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date']) # cleaning up the job_posted_date column. Converting to datetime

README.md: 0.00B [00:00, ?B/s]

c:\Users\HomePC\anaconda3\envs\python_course\Lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\HomePC\.cache\huggingface\hub\datasets--lukebarousse--data_jobs. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

data_jobs.csv:   0%|          | 0.00/231M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/785741 [00:00<?, ? examples/s]

In [6]:
# .iloc to view specific rows and columns. [] index-based selection
df.iloc[0:10, 5]  # Displaying first 10 rows and first 5 columns to verify changes

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7     True
8    False
9     True
Name: job_work_from_home, dtype: bool

In [ ]:
# .loc method to access a group of rows and columns by labels or a boolean array
df.loc[0:10, 'salary_rate':'salary_hour_avg'] # Displaying first 10 rows and columns from salary_rate to salary_hour_avg

   salary_rate  salary_year_avg  salary_hour_avg
0         None              NaN              NaN
1         None              NaN              NaN
2         None              NaN              NaN
3         None              NaN              NaN
4         None              NaN              NaN
5         None              NaN              NaN
6         None              NaN              NaN
7         None              NaN              NaN
8         None              NaN              NaN
9         None              NaN              NaN
10        None              NaN              NaN

In [ ]:
# Using .loc with dropna() to remove rows with NaN values in the specified range
df.loc[:, 'salary_rate':'salary_hour_avg'].dropna(subset='salary_rate')  # Removing rows with NaN values in salary_rate column

       salary_rate  salary_year_avg  salary_hour_avg
28            year         109500.0              NaN
43            hour              NaN             97.5
51            hour              NaN             72.5
77            year         140000.0              NaN
92            year         120000.0              NaN
...            ...              ...              ...
785624        year         139216.0              NaN
785641        year         150000.0              NaN
785648        year         221875.0              NaN
785682        year         157500.0              NaN
785692        year         157500.0              NaN

[33067 rows x 3 columns]